* {
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.go-top {
    display: inline;
    position: sticky;
    bottom: 25px;
    left: 25px;
    background-color: #be1e2d;
}

.go-top i {
    color: #fff;
    font-size: 20px;
}

header {
    position: sticky;
    left: 0;
    right: 0;
    max-width: 100vw;
    z-index: 999;
    transition: transform .3s ease-in-out;
    top: 0;
    background: white;
}

nav {
    height: 60px;
    padding: 0 20px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.logo {
    display: inline-block;
}

.logo img {
    width: 150px;
}

.nav-menu-items ul {
    margin-bottom: 0 !important;
}

.nav-menu-items ul li {
    display: inline-block;
    margin: 16px 0;
    padding: 0 16px;
}

.nav-menu-items ul li a {
    font-weight: 400;
    font-size: 17px;
    color: #000;
    text-decoration: none;
    text-align: center;
}

.nav-menu-items ul li a:hover {
    font-size: 17px;
    color: #be1e2d;
    text-decoration: none;
    text-align: center;
}

.nav-menu-icons {
    position: relative;
}

.nav-menu-icons a {
    /* font-size: 27px; */
    text-decoration: none;
    color: black;
    padding: 17px 10px;
    height: 100%;
}

.nav-menu-icons a:hover {
    text-decoration: none;
    color: #be1e2d;
    padding: 17px 10px;
    height: 100%;
}

.nav-menu-icons a i {
    padding: 0 !important;
    font-size: 27px;
}

.nav-menu-icons a:hover .icon-hover {
    visibility: visible;
    transform: translate(-50%, 24px);
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    opacity: 1;
}


.single-item .slide img,
video {
    width: 100%;
}

.single-item .slide video {
    max-height: 600px;
    width: 100%;
    object-fit: cover;
}

/* .icon-hover{
    box-shadow: 0px 0px 5px #0000001f;
    font-size: 12px;
    background:      white;
    color: #be1e2d;
    padding: 2px 8px;
    visibility: hidden;
    display:inline;
    position: absolute;
    left: -50px;
    top: 40px;
    right: 0;
    bottom: 0;
} */
.icon-hover {
    position: absolute;
    background: white;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
    left: 25px;
    top: 15px;
    /* bottom: 0px; */
    -webkit-transform: translate(-50%, 30px);
    -ms-transform: translate(-50%, 30px);
    transform: translate(-50%, 30px);
    -webkit-box-shadow: 0px 0px 5px #0000001f;
    box-shadow: 0px 0px 5px #0000001f;
    padding: 10px 8px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.icon-hover::after {
    content: "";
    width: 12px;
    height: 12px;
    background: white;
    position: absolute;
    left: 50%;
    top: 0px;
    -webkit-transform: translate(-50%, -6px) rotate(45deg);
    -ms-transform: translate(-50%, -6px) rotate(45deg);
    transform: translate(-50%, -6px) rotate(45deg);
    z-index: 0;
    -webkit-box-shadow: -1px -1px 1px #0000001f;
    box-shadow: -1px -1px 1px #0000001f;
}


.sale-items {
    /* margin-right: 200px; */
    width: 238px;
}

.sale-item {
    color: #000;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 20px;
}

a.sale-item:hover {
    text-decoration: none;
    color: #be1e2d;
}

.sale-item-img {
    padding-top: 100%;
    border-radius: 50%;
    width: 100%;
    overflow: hidden;
    position: relative;
    transform: scale(1);
    transition: all 0.3s linear;
    -webkit-box-shadow: -3px 3px 0px 0px #ffcf40;
    box-shadow: -3px 3px 0px 0px #ffcf40;
}

.sale-item-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    transition: all 0.3s ease-in-out;
}

.sale-item-img:hover {
    transform: scale(1.04);
    -webkit-box-shadow: 0px 0px 10px 0px lightgrey;
    box-shadow: 0px 0px 10px 0px lightgrey;
}

.sale-item h5 {
    margin-top: 16px;
    font-size: 16px;
    /* color: #000; */
    text-align: center;
}

.handpicked-items {
    position: relative;
    /* min-height: 400px; */
}

.handpicked-items .main-img {
    /* position: absolute; */
    opacity: 1;
    object-fit: cover;
    object-position: center;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.handpicked-items .hover-img {
    width: 240px;
    height: 360px;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    opacity: 0;
    z-index: 1;
    top: 0;
    left: 0;
}

.handpicked-items:hover .hover-img {
    opacity: 1;
}

.handpicked-items .handi-info {
    text-align: center;
    width: 100%;
    padding: 13px;
    background-color: white;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    margin-bottom: 50px;
}

.handpicked-items:hover .handi-info {
    max-height: 172px;
    max-height: 142px;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    margin-bottom: 0px;
    background-color: white;
    position: absolute;
    z-index: 99;
}

.handpicked-items .handi-info .handi-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: normal;
}

.handpicked-items .handi-info .handi-price span.sell-price {
    color: #be1e2d;
    font-size: 17px;
    display: inline-block;
}

.handpicked-items .handi-info .handi-price del.del-price {
    color: gray;
    text-decoration: line-through;
    margin-left: 5px;
    font-weight: 300;

}

.handpicked-items:hover a.add-to-cart,
a.add-to-wishlist{
    visibility: visible;
    opacity: 1;
}

.handi-info .add-to-cart{
    visibility: hidden;
    opacity: 0;
}
.handpicked-items a.add-to-wishlist{
    visibility: hidden;
    opacity: 0;
}

.handpicked-items:hover a.add-to-wishlist {
    visibility: visible;
    opacity: 1;
}
.handpicked-items:hover a.view-btn {
    visibility: visible;
    opacity: 1;
}

.handpicked-items a.view-btn{
    visibility: hidden;
    opacity: 0;
}
.handi-info .add-to-cart {
    background-color: #ffcf40;
    color: #000;
    padding: 7px 8px;
    border-radius: 5px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    font-weight: normal;
    display: block;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 5px;
}

.handi-info a.add-to-cart .cart-icon {
    margin-right: 8px;
    font-size: 20px;
}

.handpicked-items a.view-btn,
.handpicked-items a.add-to-wishlist {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    color: #000;
    font-size: 22px;
    position: absolute;
    right: 13px;
    z-index: 99;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



.handpicked-items  a.view-btn.active,
.handpicked-items  a.add-to-wishlist.active,
.handpicked-items  a.view-btn:hover,
.handpicked-items  a.add-to-wishlist:hover {
    background-color: #be1e2d;
    color: white;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.295);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.295);
}

.handpicked-items a.add-to-wishlist {
    top: 13px;
}

.handpicked-items a.view-btn {
    top: 65px;
}




/* 
.card {
    width: 280px;
    height: 360px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
    transform: translateY(20px);
}

.card:hover:before {
    opacity: 1;
}

.card:hover .info {
    margin-top: 50px;
    padding-top: 50px;
    opacity: 1;
    transform: translateY(0px);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.card .info {
    margin-top: 100px;
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translate(-30px);
    transition: 0.5s;
}

.card .info h1 {
    margin: 0px;
}

.card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
}

.card .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
}

.card .info button:hover {
    background: dodgerblue;
    color: white;
}
 */