@media only screen and (min-width: 200px) and (max-width: 992px) {
  .slicknav_menu {
    display: block;
  }

  .inner_main_menu {
    display: none;
  }

  .logo_area {
    height: auto;
    left: -57px;
    margin-left: 0;
    position: relative;
    top: 0;
    width: 130px;
  }

  .logo_area img {
    height: auto;
    width: 100px;
  }

  .sale-items {
    /* margin: 0 auto; */
    width: 164px;
  }

  .handpicked-items {
    margin: 0 20px;
  }
}

@media (max-width: 992px) {
  .menu-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .nav-menu-items {
    display: none;
  }

  .resposive-menu-bx {
    display: block;
  }


}

@media (max-width: 420px) {
  .nav-menu-icons .search-model {
    display: none;
  }
}


@media screen and (min-width:768px) {
  .handi-info {
    max-height: 92px;
  }

  .handpicked-items:hover .handi-info {
    /* max-height: 172px; */
    max-height: 142px;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    margin-bottom: 0px;
  }

  .handpicked-items .handi-info a.add-to-cart,
  .handpicked-items a.view-btn,
  .handpicked-items a.add-to-wishlist {
    opacity: 0;
    visibility: hidden;
  }

  .handpicked-items:hover .handi-info a.add-to-cart,
  .handpicked-items:hover a.view-btn,
  .handpicked-items:hover a.add-to-wishlist {
    opacity: 1;
    visibility: visible;
  }
}


@media screen and (min-width:768px) {
  .product-info {
    max-height: 92px;
  }

  .product-item:hover .product-info {
    /* max-height: 172px; */
    max-height: 142px;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    margin-bottom: 0px;
  }

  .product-item .product-info a.add-to-cart,
  .product-item a.view-btn,
  .product-item a.add-to-wishlist {
    opacity: 0;
    visibility: hidden;
  }

  .product-item:hover .product-info a.add-to-cart,
  .product-item:hover a.view-btn,
  .product-item:hover a.add-to-wishlist {
    opacity: 1;
    visibility: visible;
  }
}


@media (max-width:420px) {
  .handi-info .add-to-cart {
    font-size: 12px;
  }
}


@media (max-width:420px) {

  .handpicked-items a.view-btn,
  .handpicked-items a.add-to-wishlist {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
}



